<footer class="footer">
  <div class="footer-content">
    <div class="footer-brand">
      <img src="assets/logo-educativo.png" alt="EduPro" height="38" style="vertical-align: middle; margin-right: 0.5rem;">
      <span class="footer-title">EduPro</span>
    </div>
    <div class="footer-links">
      <a routerLink="/">Inicio</a>
      <a routerLink="/courselist">Cursos</a>
      <a routerLink="/about">Sobre Nosotros</a>
      <a routerLink="/contacts">Contacto</a>
    </div>
    <div class="footer-social">
      <a href="#" aria-label="Facebook"><img src="assets/facebook.svg" alt="Facebook" height="24"></a>
      <a href="#" aria-label="Twitter"><img src="assets/twitter.svg" alt="Twitter" height="24"></a>
      <a href="#" aria-label="Instagram"><img src="assets/instagram.svg" alt="Instagram" height="24"></a>
    </div>
  </div>
  <div class="footer-copy">
    <p>&copy; 2025 EduPro - Todos los derechos reservados</p>
  </div>
</footer>
